{{ 'section-reviews-slider.css' | asset_url | stylesheet_tag }}

<div class="reviews-slider__track">
  <div class="reviews-slider__reviews-container">
  <div class="reviews-slider__review">
    <div class="reviews-slider__review-text">Weis is the only place in Central Alberta that consistently carries my sizes in both jeans and shirts. That makes shopping for clothes easy. I also love when the bulldogs are in the store. The Mahs and their staff are always  <span class="highlighter">friendly and helpful.</span></div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Tyke T.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">One of our <span class="highlighter">favorite stores</span>, always incredibly helpful. We cannot always make it into the store to shop, the online store is so convenient and fast! Highly recommend!</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Tracy J.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">Searched high and low for a particular size and brand of jeans. During my online search I ended up at Wei's Western Wear who had them in stock.  <span class="highlighter">Ordering was easy</span>, shipping was fast and the jeans were exactly as advertised. Everything was perfect! Fabulous service. Thank you!</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Jayne M.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">I looked everywhere for these boots for my niece and found them here! <span class="highlighter">Fast and reliable shipping</span></div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Andy L.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text"><span class="highlighter">It's perfect!</span> Wonderful colour and very comfortable with attitude. Thank you for great customer service on fast shipping!</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Charlene L.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">First purchase was awesome, <span class="highlighter">second</span> is coming through!</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Jamie P.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">Top notch best boots, fit, quality, history, reputation, price, service and delivery Have also shopped at store in Red Deer, <span class="highlighter">Great experience </span> all around always.</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Brian L.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">Nobody around me carried Canada West boots, and I didn't care for the styles and prices. Found Wei's online, they had the best pricing, and were in stock. Ordered easily, fast shipping, no problems. <span class="highlighter">Thank you Wei's,</span> I'll be buying my boots here from now on!</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Gary</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">This is my favourite store and has been forever, <span class="highlighter">my dad used to shop here</span> for his rig gear and clothing and this is where we've always gotten all our clothes growing up. The family that owns it is amazing, selection and pricing is always amazing. I live in BC now but whenever I'm back in Alberta I restock my closets here.</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Brandy S.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>

<div class="reviews-slider__review">
  <div class="reviews-slider__review-text">Awesome product. <span class="highlighter">Shipping was super fast</span> and service was great. Product is really good. It's my favourite pullover for sure. Good quality and price.</div>
      <div class="reviews-slider__review-info">
            <div class="reviews-slider__review-info-each">Kelsey J.</div>
                <div class="reviews-slider__review-info-each">
                        <img src="{{ '5stars.svg' | asset_url }}" alt="5 stars" />
                            </div>
                              </div>
</div>
  </div>
</div> 
